 <nav class="navbar">
        <div class="max-width">
        <div class="logo"><a href="#">&lt;/Juan <span>Manuel</span>&gt;</a></div>
            <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#Acerca de mi" class="menu-btn">Acerca de mi </a></li>
                <li><a href="#Proyectos" class="menu-btn">Proyectos</a></li>
                <li><a href="#Habilidades" class="menu-btn">Habilidades</a></li>
                <li><a href="#Contacto" class="menu-btn">Contacto</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>