
 <section class="home1" id="home1">
        <div class="max-width">
            <div class="home-content">
<h1>Mensaje enviado correctamente</h1>
               
          <button type="button"  id="boton" ><a href="/">Volver</a>
            </div>
        </div>
    </section>




<div class="m-5">
        
</div>
          </button>
</div>