
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hola , soy </div>
                <div class="text-2">Juan Manuel</div>
                <div class="text-1">Estudiante de programacion</div>
                <div class="text-3">y tambien...<span class="typing"></span></div>
            </div>
        </div>
    </section>
  

 
    <section class="about" id="Acerca de mi">
        <div class="max-width">
            <h2 class="title">Acerca de mi </h2>
            <div class="about-content">
                <div class="column left">
                    <img src="img/img1.jpg" alt="">
                </div>
                <div class="column right">
             
                    <p> Hola , gracias por visitar mi pagina , en ella vuelco lo aprendido hasta el momento en cursos realizados como el de la UTN Learning o Argentina Programa 4.0  </p>
                    <br>
                    <hr>
                    <br>
                     <div class="text1">Titulo:</div><br>
                    <p class="diploma">Diplomatura en Programacion Web Full Stack</p><br>
                    <img src="/Documentos/pdf.png" alt="Imagen desde PDF" style="height: 80px">
                   
                    <a id="pdf" href="/Documentos/Certificados.pdf" target="_blank">PDF</a></li>
                    <a id="pdf" href="https://sysgestion.frba.utn.edu.ar/alumnos/validar_certificado"  target="_blank" >Pagina para verificacion</a>
                    <p>Para verificar la validacion del certificado, ingrese el siguiente codigo :<br>         CER-B5TXYNX5-82768</p>
 </div>
                    </div>
                    
               </div>
            </div>
        </div>

                  
    </section>

  
    <section class="projects" id="Proyectos">
        <div class="max-width">
            <h2 class="title">Mis proyectos</h2>
          
        
            <div class="serv-content" >
                <div class="card">
                    <div class="box">
                      
                    <div class="text">Matias</div>
                         <p>Primera pagina realizada , muy basica (en HTML y CSS) sobre Matias y su guitarra.</p>
                         <li><a href="/matias/index.html"target="_blank" >Visitar la pagina</a></li>
                    </div>
                </div>
            </div>
                    <div class="serv-content">
                       <div class="column left"></div>
                        <div  class="card">
                            <div class="box">
                        
                    <div class="text">Buscador de Peliculas</div>
                        <p>Es un buscador de peliculas que consume una api realizado con React y Vite</p>
                        <li><a href="https://superlative-pithivier-b52d50.netlify.app/"         target="_blank">Visitar     la pagina</a>
                        </li>
                    </div>
                        </div>
                        </div>
                            <div class="serv-content">
                                <div class="card">
                                 <div class="box">
                      


                    <div class="text">Mern GYM</div>
                        <p>Pagina realizada con React, NodeJs y base de datos MONGODB,  para un TP Integrador , sobre un gimnasio.
                        </p>
                    <li><a href="//frente-production.up.railway.app"  target="_blank" >Visitar la pagina</a>
                    </li>
                     </div>
                         </div>
                            </div>
                                <div class="serv-content">
                                <div class="column left"></div>
                                    <div class="card">
                                         <div class="box">
                        
                    <div class="text">Aplicacion del clima</div>
                    <p>Es una pagina HTML con un estilo simple de CSS, donde nos dice el clima en la ciudad que busquemos, consumiendo datos de una Api de clima </p>
                    <li><a href="https://app-clima-juanm.netlify.app/" target="_blank">Visitar la pagina</a></li>
                    </div>
                    </div>
                    </div>
                    <div class="serv-content">
                    <div class="card">
                    <div class="box">
                


                    <div class="text">Aplicacion Carrito compras</div>
                    <p>Carrito de compras realizado en React</p>
                    <li><a href="https://carrito-react-juanm.netlify.app/" target="_blank">Visitar la pagina</a></li>
                    </div>
                    </div>
                    </div>
                    <div class="serv-content">
                    <div class="card">
                    <div class="box">
                
      
           
    </section>

   
    <section class="skills" id="Habilidades">
        <div class="max-width">
            <h2 class="title">Lenguajes y Habilidades  </h2>
            <br>
                <div class="skills-content">
                    <div class="column left">
                      <div class="lenguajesSkills__box ">
                    <span class="lenguajesSkills__box__item ">
                        <img src="/img/html5_logo.png" alt="logo html">
                        <p id="html1">HTML</p>
                    </span>
                    <span class="lenguajesSkills__box__item ">
                        <img src="/img/css_logo.png" alt="logo css">
                       <p>CSS</p>
                      
                    </span>
                    <span class="lenguajesSkills__box__item ">
                        <img src="/img/javascript_logo.png" alt="logo javascript">
                       <p>JAVA SCRIPT</p>
                       
                    </span>
                    <span class="lenguajesSkills__box__item ">
                        <img src="/img/bootstrap_logo.png" alt="logo bootstrap">
                       <p>BOOTSTRAP</p>
                       
                    </span>
                      <span class="lenguajesSkills__box__item ">
                        <img src="/img/hand_logo.png" alt="logo handel">
                       <p>HANDLEBARS</p>
                       
                    </span>
                    <span class="lenguajesSkills__box__item ">
                        <img src="/img/node.png" alt="logo node">
                       <p>NODE JS</p>
                       
                    </span>
                    <span class="lenguajesSkills__box__item ">
                        <img src="/img/react__logo.png" alt="logo react">
                       <p>REACT</p>
                       
                    </span>
                     <span class="lenguajesSkills__box__item ">
                        <img src="/img/mongo.png" alt="logo mongo">
                       <p>MONGO DB</p>
                       </span>

                     <span class="lenguajesSkills__box__item ">
                        <img src="/img/sql__logo.png" alt="logo sql">
                       <p>SQL</p>
                    </span>
                    <span class="lenguajesSkills__box__item ">
                        <img src="/img/git_logo.png" alt="logo git">
                       <p>GIT</p>
                        
                    </span>
                    </span>
                </div>
                </div>
        </div>
    </section>

  

   
    <section class="contact" id="Contacto">
        <div class="max-width">
            <h2 class="title">Contactame</h2>
            <div class="contact-content">
                <div class="column left">
                    <div class="text">Datos de contacto</div>
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head">Nombre</div>
                                <div class="sub-title">Juan Manuel Avelaneda</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">Ubicacion</div>
                                <div class="sub-title">Bs AS , Argentina </div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">Email</div>
                                <div class="sub-title">Juanma26@gmail.com</div>
                            </div>
                        </div><br>
                         <div class="row">
                            <div class="info">
                                
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column right">
    <div class="text">Mandame tu mensaje </div>
    <form id="myForm" method="POST" action="" onsubmit="return validarFormulario()">
 

        <div class="fields">
            <div class="field name">
                <input type="text" placeholder="Nombre" required name="nombre" id="nombre">
            </div>
            <div class="field email">
                <input type="text" placeholder="Email" required name="email" id="email">
            </div>
        </div>
        <div class="field">
            <input type="number" placeholder="Telefono" required name="telefono" id="telefono">
        </div>
        <div class="field textarea">
            <textarea cols="30" rows="10" placeholder="Tu Mensaje...." required name="mensaje" id="mensaje"></textarea>
        </div>
        <div class="button">
            <button type="submit">Enviar mensaje</button>
        </div>
    </form>
</div>

            </div>
        </div>
    </section>



